@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sixtyfour+Convergence&family=Updock&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(240, 240, 240);
}

video{
  object-fit: cover;
  width: 100%;
  height: 100%;
  position:fixed;
  z-index: -20;
}
